.outer_event_box {
  height: 100vh;
  display: grid;
  background: green;
}

.event_tile {
  display: grid;
  max-height: 300px;
  max-width: 400px;
  background: blue;
  /* grid-template-columns: repeat(auto-fill, minmax(10em, 1fr)); */
  grid-gap: 2em;
  justify-content: center;
  align-items: center;
}
