.outer_event_box {
  display: grid;
  grid-gap: 2em;
  margin: 10px;
  grid-template-columns: repeat(2, 1fr);
  /* max-width: max-content; */
  /* height: 50rem;
  background-color: rgba(255, 255, 255, .35);
  backdrop-filter: blur(15px); */
}


.event_tile {
  display: grid;
  max-height: 500px;
  min-height: 175px;
  max-width: 400px;
  background-color: lightgray;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: inset 0 0 40px #000000;
  padding: 3px;
}

.event_name{
  color: black;
  font-size: 22px;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.event_description{
  color: rgb(0, 0, 0);
  font-size: 18px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}
