.outer_event_box {
  display: grid;
  grid-gap: 2em;
  margin: 10px;
  grid-template-columns: repeat(2, 1fr);
  max-width: max-content;
}

.event_tile {
  display: grid;
  max-height: 300px;
  max-width: 400px;
  background-color: lightgray;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px lightgrey;
}


