.outer-outer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.outer_inventory_box {
  display: grid;
  /* grid-gap: 2em; */
  margin-left: 10vh;
  margin-right: 10vh;
  grid-template-columns: repeat(2, 1fr);
  max-width: max-content;
  /* width: 20vw; */
  background: rgb(26, 26, 26);
  border-radius: 15%;
  justify-content: center;
}

.inventory_tile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 125px;
    height: 125px;
    border-radius: 17%;
    background: linear-gradient(145deg, #31424a, #253137);
    box-shadow: inset 0 0 40px #000000;
    /* box-shadow: 20px 20px 60px #273840, -20px -20px 60px #486878; */
  }
  .item_tile {
      vertical-align: middle;
  }

.item_img_grey {
  height: 90px;
  vertical-align: center;
  filter: grayscale(100%) brightness(25%) opacity(50%) blur(2px);
}
.item_img {
  transition: 0.3s;
  height: 90px;
  min-height: 30px;
  display: block;
  margin: 0 auto;
  filter: none;
}

.item_img:hover {
  height: 105px;
  filter: none;
}
