body {
    background: linear-gradient(-45deg, #bb0505, #ed7636, #f9cd1f, #d52367);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    background-attachment: fixed;
    z-index: 1;
    /* height: 100vh;
    border: 15px solid black; */
 }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.map_tile {
  height: 90%;
  background: rgb(189, 223, 255);
  border-radius: 5%;
  /* width: 500px; */
  /* padding: 1vh; */
  /* position: relative;
  display: inline-block; */
}

.outer_map {
  height: 85vh;
  /* width: 100%; */
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas:
    "house house . . stadium stadium stadium . lib lib"
    "house house . . stadium stadium stadium . lib lib"
    ". . . . stadium stadium stadium . . ."
    ". adm adm . . . . lec lec ."
    ". adm adm  . career career . lec lec ."
    ". . . . career career . . . .";
  /* "blank blank blank blank stadium stadium stadium blank blank blank"
    "blank blank blank blank stadium stadium stadium blank blank blank"
    "blank blank blank blank stadium stadium stadium blank blank blank"
    "blank blank blank blank stadium stadium stadium blank blank blank"
    "blank blank blank blank stadium stadium stadium blank blank blank"
    "blank blank blank blank stadium stadium stadium blank blank blank"
    "blank blank blank blank stadium stadium stadium blank blank blank"; */
  gap: 10px;
  margin-left: 25vh;
  margin-right: 25vh;
  margin-bottom: 15vh;
  margin-top: 3vh;
  border: 1px solid black;
  background: url("../../images/grass_img.jpeg");
  /* background-size: cover; */
  border-radius: 2%;
}

.house_img {
  width: 100%;
  height: 100%;
  background-image: url("https://static.thenounproject.com/png/780568-200.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: house;
  /* object-fit: cover; */
}

.library_img {
  width: 100%;
  height: 100%;
  background-image: url("../../images/library.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: lib;
}

.stadium_img {
  width: 100%;
  height: 100%;
  background-image: url("../../images/stadium.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: stadium;
}

.admission_img {
  width: 100%;
  height: 100%;
  background-image: url("../../images/admission.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: adm;
}

.lecture_hall_img {
  width: 100%;
  height: 100%;
  background-image: url("../../images/lecture_hall.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: lec;
}
.career_office_img {
  width: 100%;
  height: 100%;
  background-image: url("../../images/career.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: career;
}

.location_name {
  width: 100%;
  text-align: center;
  color: white;
  background-color: black;
  border-radius: 5px;
}
