.nav_menu{
    background-color: rgba(255, 255, 255, 0.15);
    height: 70px;
}

.ant-menu-vertical > .ant-menu-item{
    height: 70px;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: rgba(255, 255, 255, 0.15);
}

.home_button{
    width: 45px;
    height: 45px;
}

.create_character_button{
    width: 45px;
    height: 45px;
}

.inventory_button{
    width: 45px;
    height: 45px;
}

.profile_button{
    width: 45px;
    height: 45px;
}

.logout_button{
    width: 45px;
    height: 45px;
}
