.outer_option_box {
  display: grid;
  grid-gap: 2em;
  margin: 10px;
  grid-template-columns: repeat(2, 1fr);
  max-width: max-content;
}

.option_tile {
  display: grid;
  min-height: 150px;
  min-width: 150px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  /* box-shadow: 5px 5px lightgrey; */
  box-shadow: inset 0 0 40px #000000;
  margin: 2rem;
  padding: 3px;
  align-content: center;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
}

.option_tile:hover {
  cursor: pointer;
}
