.outer_profile {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.character_img {
  transition: 0.3s;
  height: 225px;
  width: 215px;
  display: flex;
}
.character_img_active{
    height: 225px;
    width: 215px;
    transition: 0.3s;
    border: 1px solid red;
    display: flex;
}

.character_img:hover {
  height: 250px;
  width: 225px;
  cursor: pointer;
  display: flex;
}

.character_img_active:hover{
    height: 250px;
    width: 225px;
    display: flex;
}
